.page {
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center; /* vertical */
  height: 100vh;
}

.login {
  width: 30%;
  border-radius: 20px;
  padding: 20px;
  background-color: rgba(127, 255, 212, 0.142);
}
